.App {
  text-align: center;
}

body{
  background-image: url(./Images/HomeBG.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HomePage */
.homepage{
  width: 75vw;
  min-height: 85vh;
  max-height: 100vh;
  margin: auto;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

.SH-Logo{
  height: 170px;
  width: 170px;
  border-radius: 15px;
  margin-top: 2%;
  border-color: rgb(255, 251, 0);
  border-style: groove;
  border-width: 3px;
}

.course{
  background-color: white;
  height: 33vh;
  width: 16vw;
  border: #aed581;
  border-radius: 300px;
  border-style: inset;
  margin-left: 8.9%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.course-name{
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
}

.course:hover .course-home-img{
  filter: brightness(20%);
}

.course:hover .course-name{
  visibility: visible;
  filter: brightness(100%);
}


.course-home-img{
  border-radius: 160px;
  border-color: black;
  border-style: groove;
  background-color: white;
}

.course-home-img:hover{
  filter: brightness(20%);
}

.home-text>p{
  background-color: green;
  color: white;
  border-color: white;
  border-style: inset;
  width: 20%;
  margin: auto;
  margin-top: .5%;
  padding: .5% 0%;
}

.home-text>button{
  padding: 10px 30px;
  margin-top: 1%;
  color: white;
  background-color: green;
  border-radius: 3px;
  border-width: 1px;
}

.home-text>button:hover{
  filter: brightness(200%);
  color: black;
}

/* NavBar */
.navuser{
  padding-right: 2%;
}

.logo{
  padding-left: 2%;
}

.nav-logo{
  height: 5%;
  width: 2.45vw;
  border-radius: 0px;
  margin-top: 1vh;
  float: left;
  margin-right: 15px;
  border-color: black;
  border-style: groove;
  border-width: 1px;
}

/* UserPage */

.user-page{
  width: 75vw;
  min-height: 100vh;
  margin: auto;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

.reserve-card-golf{
  background-image: url(https://media.istockphoto.com/id/1225609011/vector/golf-ball-illustration-in-a-white-background-for-assembly-or-creates-teaching-material-for.jpg?s=612x612&w=0&k=20&c=l-xFMSxLBvwppJzeXuPwm0d_oMJOc6-ishg-CJFqzZo=);
  background-position: 50% 48.6%;
  border-radius: 300px;
  color: rgb(0, 0, 0);
  border-color: rgb(131, 131, 131);
  border-style: inset;
  text-align: center;
  padding: 2% 1%;
  float: left;
  margin: 3% 2.5%;
  margin-bottom: 0%;
  width: 20%;
  height: 37%;
}

.reserve-card-golf>p{
  margin: 3%;
}

.reserve-card-inst{
  background-image: url(https://media.istockphoto.com/id/1225609011/vector/golf-ball-illustration-in-a-white-background-for-assembly-or-creates-teaching-material-for.jpg?s=612x612&w=0&k=20&c=l-xFMSxLBvwppJzeXuPwm0d_oMJOc6-ishg-CJFqzZo=);
  background-position: 50% 48.6%;
  border-radius: 300px;
  color: rgb(0, 0, 0);
  border-color: rgb(131, 131, 131);
  border-style: inset;
  text-align: center;
  padding: 2.5% 1%;
  float: left;
  margin: 3% 2.5%;
  margin-bottom: 0%;
  width: 20%;
  height: 37%;
}

.reserve-card-inst>p{
  margin: 3%;
}

.edit-delete{
  border-color: rgba(165, 4, 4, 0);
  border-width: 2px;
  border-style: outset;
  border-radius: 2px;
  padding: 2% 3%;
  color: white;
  width: 50%;
  background-color: rgb(0, 121, 30);
}
.edit-delete:hover{
  filter: brightness(120%);
  background-color: rgb(209, 0, 0);
  border-color: rgb(0, 0, 0);
}


/* CoursePage */

.course-page{
  width: 75vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}


.course-page-img{
  background-color: white;
  transform: rotate(90deg);
  height: 50vh;
  width: 33vw;
  border: #aed581;
  border-width: 3px;
  border-radius: 15px;
  border-style: inset;
  float: left;
  margin-top: 11%;
}

.course-info{
  text-align: left;
  width: 55%;
  float: right;
  padding: 2%;
  padding-right: 5%;
}

.calender-container{
  padding-right: 4vw;
  height: 30%;
  float: right;
}

.dropdowns{
  border: black;
  border-style: inset;
  border-radius: 3px;
  border-width: 1px;
}
.dropdowns:hover{
  filter: brightness(75%);
}

.reservation-form{
  width: 20%;
  margin: auto;
  float: left;
  padding-left: 3%;
}

.reserve-info{
  margin: 5%;
  background-color: green;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0px;
  border-radius: 5px;
  border-color: white;
  border-style: inset;
}

.reserve-info>p{
  margin: 0px;
}

.reserve-button{
  padding: 10px;
  margin: 5px;
  margin-top: 10%;
}

.reserve-button:hover{
  filter: brightness(75%);
}

/* Instructor Page */

.instructor-page{
  width: 75vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

.instructor-name{
  float: left;
  width: 33%;
}

.course-image-container{
  position: relative;
  text-align: center;
  color: white;
}

.instructor-page-img{
  background-color: white;
  height: 68vh;
  border: #aed581;
  border-width: 3px;
  border-radius: 15px;
  border-style: inset;
  float: left;
  margin-top: 5.1%;
  margin-left: 4%;
  max-width: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.instructor-page-img>img{
flex-shrink: 1000;
min-width: 100%;
min-height: 100%;
}


.instructor-page-info{
  text-align: left;
  width: 55%;
  float: right;
  padding: 2%;
  padding-right: 5%;
}



.dropdowns{
  border: black;
  border-style: inset;
  border-radius: 3px;
  border-width: 1px;
}
.dropdowns:hover{
  filter: brightness(75%);
}

.reservation-inst-form{
  width: 20%;
  margin: auto;
  float: right;
  padding-right: 3%;
  margin-right: 2.5%;
}

.reserve-info{
  margin: 5%;
  background-color: green;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0px;
  border-radius: 5px;
  border-color: white;
  border-style: inset;
}

.reserve-info>p{
  margin: 0px;
}

.reserve-button{
  padding: 10px;
  margin: 5px;
  margin-top: 10%;
}

.reserve-button:hover{
  filter: brightness(75%);
}


/* Login/Logout */

.login-form{
  background-color: rgba(255, 255, 255, 0.86);
  border-color: #aed581;
  border-style: inset;
  border-width: 2px;
  height: 54vh;
  width: 50vw;
  margin: auto;
  margin-top: 10vh;
  border-radius: 8px;
}

.login{
  padding-top: 3vh;
  width: 50%;
  margin: auto;
}


.signup-form{
  background-color: rgba(255, 255, 255, 0.86);
  border-color: #aed581;
  border-style: inset;
  border-width: 2px;
  height: 69vh;
  width: 50vw;
  margin: auto;
  margin-top: 10vh;
  border-radius: 8px;
}
.signup{
  padding-top: 3vh;
  width: 50%;
  margin: auto;
}

.show-pass{
  border-color: rgba(165, 4, 4, 0);
  border-width: 2px;
  border-style: outset;
  border-radius: 2px;
  padding: 2% 3%;
  color: white;
  width: 50%;
  background-color: rgb(165, 4, 4);
  margin: 5%;
}
.show-pass:hover{
  filter: brightness(120%);
  border-color: rgb(0, 0, 0);
}

.login-signup{
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: inset;
  border-radius: 2px;
  padding: 2% 3%;
  color: white;
  background-color: rgb(1, 141, 255);
  width: 50%;
}

.login-signup:hover{
  filter: brightness(120%);
  border-color: rgb(0, 0, 0);
}

.switch-form{
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: inset;
  border-radius: 2px;
  padding: 2% 3%;
  color: rgb(0, 0, 0);
  background-color: rgba(41, 204, 0, 0.747);
  width: 40%;
}

.switch-form:hover{
  filter: brightness(120%);
  border-color: rgb(0, 0, 0);
}

/* Instructors Page */

.instructors-page{
  width: 75vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

.instructor-name{
  padding: 5px;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.instructor-headshot{
  height: 25vh;
  background-color: white;
  border-style: outset;
  border-color: black;
  border-right: #ffffff;
  float: left;
  border-radius: 5px;
  border-width: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.instructor-card{
  width: 50%;
  height: 26vh;
  padding: 5%;
  margin-bottom: 10%;
  margin-top: 0px;
  float: left;
}

.instructor-info{
  padding: 5%;
  text-align: left;
  margin: auto;
  margin-left: 30%;
  height: 25vh;
  background-color: white;
  border: black;
  border-style: outset;
  border-radius: 5px;
  border-width: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.inst-reserve{
  border-width: 1px;
  border-radius: 25px;
  background-color: green;
  color: white;
  padding: 2%;
  float: right;
}

.inst-reserve:hover{
  filter: brightness(150%);
}

/* EditReservation */

.edit-reservation-page{
  width: 50vw;
  min-height: 55vh;
  margin: auto;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

.edit-reservation{
  margin: auto;
  width: 50%;
}

.edit-dropdowns{
  border: black;
  border-style: inset;
  border-radius: 3px;
  border-width: 1px;
  width: 50%;
  margin: auto;
}

.edit-dropdowns:hover{
  filter: brightness(75%);
}
.star{
  opacity: 75%;
}

.edit{
  border-color: rgba(165, 4, 4, 0);
  border-width: 2px;
  border-style: outset;
  border-radius: 2px;
  padding: 2% 3%;
  color: white;
  width: 50%;
  background-color: rgba(33, 47, 255, 0.788);
  margin: 2%;
}

.delete{
  border-color: rgba(165, 4, 4, 0);
  border-width: 2px;
  border-style: outset;
  border-radius: 2px;
  padding: 2% 3%;
  color: white;
  width: 50%;
  background-color: rgba(219, 18, 18, 0.815);
  margin: 2%;
}

/* END */

.edit:hover{
  filter: brightness(120%);
  border-color: rgb(0, 0, 0);
}

.delete:hover{
  filter: brightness(120%);
  border-color: rgb(0, 0, 0);
}