.App {
  text-align: center;
}

body{
  background-image: url(./Images/HomeBG.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HomePage */
.homepage{
  /* background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  margin: auto;
  width: 75vw;
  margin-top: 5vh;
  padding: 1%;
  border-radius: 10px;
  height: 85vh; */
  
    width: 75vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

.SH-Logo{
  height: 150px;
  width: 150px;
  border-radius: 15px;
  margin: 2%;
  border-color: black;
  border-style: groove;
}

.course-home-img{
  height: 275px;
  width: 275px;
  border-radius: 160px;
  margin: 2%;
  border-color: black;
  border-style: groove;
  background-color: white;
  filter: brightness(20%);
}

.course-home-img:hover {
  filter: brightness(100%);
}

.course-home{
  width: 33vw;
}

/* NavBar */
.navuser{
  padding-right: 2%;
}

.logo{
  padding-left: 2%;
}

.nav-logo{
  height: 5%;
  width: 2.45vw;
  border-radius: 0px;
  margin-top: 1vh;
  float: left;
  margin-right: 15px;
  border-color: black;
  border-style: groove;
  border-width: 1px;
}

/* UserPage */

.user-page{
  width: 75vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

/* CoursePage */

.course-page{
  width: 75vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

.course-name{
  float: left;
  width: 33%;
}

.course-image-container{
  position: relative;
  text-align: center;
  color: white;
}

.course-page-img{
  background-color: white;
  transform: rotate(90deg);
  height: 50vh;
  width: 33vw;
  border: black;
  border-radius: 15px;
  border-style: inset;
  float: left;
  margin-top: 11%;
}

.course-info{
  text-align: left;
  width: 55%;
  float: right;
  padding: 2%;
  padding-right: 5%;
}

.calender-container{
  padding-right: 4vw;
  height: 30%;
  float: right;
}

.time-picker{
  width: 9%;
  float: right;
  margin-right: 17%;
  margin-top: 0%;
}

.reservation-form{
  width: 20%;
  margin: auto;
  float: left;
  padding-left: 3%;
}

.reserve-button{
  border: white;
  padding: 5px;
  margin: 5px;
}

/* Login/Logout */

.login-form{
  background-color: rgba(255, 255, 255, 0.86);
  border-color: #aed581;
  border-style: inset;
  border-width: 2px;
  width: 50vw;
  margin: auto;
  margin-top: 10vh;
  border-radius: 8px;
}

.login{
  padding-top: 3vh;
  width: 50%;
  margin: auto;
}

/* Instructors Page */

.instructors-page{
  width: 75vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.700);
  border-color: #aed581;
  border-style: inset;
  border-radius: 10px;
  margin-top: 4vh;
}

.instructor-name{
  padding: 5px;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.instructor-headshot{
  height: 25vh;
  background-color: white;
  border-style: outset;
  border-color: black;
  border-right: #ffffff;
  float: left;
  border-radius: 5px;
  border-width: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.instructor-card{
  width: 50%;
  height: 26vh;
  padding: 5%;
  margin-bottom: 10%;
  margin-top: 0px;
  float: left;
}

.instructor-info{
  padding: 5%;
  text-align: left;
  margin: auto;
  margin-left: 30%;
  height: 25vh;
  background-color: white;
  border: black;
  border-style: outset;
  border-radius: 5px;
  border-width: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.inst-reserve{
  border-width: 1px;
  border-radius: 25px;
  background-color: green;
  color: white;
  padding: 2%;
  float: right;
}
/* END */
